{% extends "timeline/layout.html" %}

{% block body %}


<div class="container">
  {% for opinion in opinions %}
  <div class="row justify-content-around">
    <div class="col-12 col-md-10 col-lg-9">
      <div class="card border-warning mb-4 p-4 rounded shadow-lg">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title rounded rounded-pill" style="{% if opinion.bias < 40 %}background-color: rgb(212, 237, 218);{% elif opinion.bias < 70 %}background-color: rgb(255, 243, 205);{% else %}background-color: rgb(250, 218, 221);{% endif %}"><strong class="roboto-bold">{{opinion.title}}</strong></h5>
              <span class="ml-auto">
              <form method="POST" action="{% url 'report_opinion' opinion_id=opinion.id %}">
              {% csrf_token %}
              {% if request.user in opinion.reporter.all %}
                <button id="report-button" class="btn btn-secondary rounded-pill btn-sm" disabled>
                Reported
                </button>
              {% else %}
                <button id="report-button" class="btn btn-dark rounded-pill btn-sm" type="submit">
                  Report
                </button>
              {% endif %}
              </form>
            </span>
          </div>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span class="rounded-pill roboto-light" style="background-color: rgb(251, 244, 236);">
              {{opinion.writer.username}}
            </span>
          </h6>
          <p class="card-text rounded p-2 border border-warning roboto-regular" style="background-color: rgba(255, 254, 252, 0.983);">{{opinion.content}}</p>
        </div>

        {% for label in opinion.labels.all %}
        <div class="d-flex justify-content-center align-items-center">
          <span class="border p-1 ml-1 larger shadow rounded">{{label.name}}</span>
        </div>
        {% endfor %}


        <div class="d-flex justify-content-center align-items-center mt-2">
          <label class="{% if opinion.bias < 40 %}
              bg-success
              {% elif opinion.bias < 70 %}
              bg-warning
              {% else %}
              bg-danger
              {% endif %} rounded-pill text-white small p-2">
            {% if opinion.bias < 40 %}
              Critical Thinker
              {% elif opinion.bias < 70 %}
              Reflecting
              {% else %}
              Venting
              {% endif %}: {{opinion.bias}}
            </label>
        </div>
        <div class="d-flex justify-content-around align-items-center">
          <div class="progress w-25 border border-dark rounded">
            <div class="progress-bar
               progress-bar-striped
              {% if opinion.bias < 40 %}
              bg-success
              {% elif opinion.bias < 70 %}
              bg-warning
              {% else %}
              bg-danger
              {% endif %}"  
              role="progressbar"
              style="width: {{ opinion.bias}}%;" aria-valuenow="{{opinion.bias}}" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% empty %}
  <div class="alert alert-info">
    Click <a href="{% url 'create_opinion' %}">link</a> to create one.
  </div>
  {% endfor %}
</div>

{% endblock %}