
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* logo */
#logo {
  background-image: url('./images/logo_time.svg'); 
  width: 50px; 
  height: 50px;  
  background-size: 50px;
  background-color: black;
}


/* Remove reported opinions */
@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.1;
    transform: scale(0.80);
  }
}

.remove-reported-opinion-id { 
  animation-name: hide;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}